<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ваши проекты</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Ваши проекты</h1>
    </header>
    <main>
        <ul>
            {% for project in projects %}
            <li>
                <strong>{{ project.name }}</strong>
                <p>Проект ID: {{ project.id }}</p>
            </li>
            {% endfor %}
        </ul>
    </main>
    <footer>
        <p>Budget Checker © 2024</p>
    </footer>
</body>
</html>
